body {
  /* background-color: rgb(52, 54, 54); */
  margin: 0;
  padding: 0;
  height: 100vh;
}
div {
  border: 1px solid black;
  border-radius: 5px;
}
#center{
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;
}
#sub1, #sub2 {
  display: flex;
  margin: 5px;
}
#sub1 > div , #sub2 > div {
  display: flex;
  margin: 5px;
}
#sub1{
  flex-grow: 3;
}
#sub2{
  flex-grow: 2;
}
#actions {
  min-width: 100px;
  align-items: flex-start;
  flex-grow: 1;
}
#class {
  flex-grow: 6;
}
#objects {
  flex-grow: 3;
}
#other {
  flex-grow: 2;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}